*.dec
keys.txt
secrets/*.yaml
secrets/*.yml
!secrets/*.enc.yaml
!secrets/*.enc.yml
*.orig
*/**/*.orig
*.bak
.ruff-cache/
result/
result
.claude/
.ck/

# Nix config with secrets
nix.conf
*.qcow2

__pycache__/
