* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "./wallust/colors-waybar.css";

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

#taskbar button,
#workspaces button {
  color: @color8;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover,
#workspaces button:hover {
  border-radius: 10px;
  color: @color9;
  background-color: @color0;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.persistent {
  color: @color8;
  border-radius: 10px;
}

#taskbar button.active,
#workspaces button.active {
  color: @color5;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.urgent {
  color: @color1;
  border-radius: 0px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left,
.modules-center,
.modules-right {
  background: @background;
  border: 0.5px solid @color8;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;

}

.modules-left,
.modules-right {
  border: 1px solid @color4;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
  color: #39FF14;
}

#bluetooth,
#backlight {
  color: @color4;
}

#battery {
  color: @color2;
}

@keyframes blink {
  to {
    color: @color0;
  }
}

#battery.critical:not(.charging) {
  background-color: @color1;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

#clock {
  color: @color3;
}

#cpu {
  color: @color2;
}

#custom-keyboard,
#memory {
  color: @color6;
}

#disk {
  color: @color12;
}

#temperature {
  color: @color14;
}

#temperature.critical {
  background-color: @color1;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#keyboard-state {
  color: @color15;
}

#custom-cava_mviz {
  color: @color13;
}

#custom-menu {
  color: @foreground;
}

#custom-power {
  color: @color1;
}

#custom-updater {
  color: @color1;
}

#custom-light_dark {
  color: @color4;
}

#custom-weather {
  color: @color13;
}

#custom-lock {
  color: @color9;
}

#pulseaudio {
  color: @color12;
}

#pulseaudio.bluetooth {
  color: @color13;
}

#pulseaudio.muted {
  color: @color1;
}

#window {
  color: @color5;
}

#mpris {
  color: @color13;
}

#network {
  color: @color14;
}

#network.disconnected,
#network.disabled {
  background-color: @color0;
  color: @foreground;
}

#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
}

#backlight-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 5px;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
}